<%= for action <- Map.get(@data.current_player, :actions, []) do %>
<%= if action.state == "enabled" do %>
  <a class="action-item text-center pb-1" href="#" phx-click="action" phx-value="<%= Map.get(action, :action) %>">
<% else %>
  <a class="action-item text-center pb-1 disabled">
<% end %>
  <%= render "_#{Map.get(action, :action)}_svg.html" %>
  <div class="action-label uppercase text-green-darker"><%= action.label %></div>
</a>
<% end %>
