<div class="action-item text-center pb-1">
  <%= render "_challenge_svg.html" %>
  <div class="action-label uppercase text-green-darker">Challenge</div>
</div>
<div class="action-item text-center pb-1">
  <%= render "_block_svg.html" %>
  <div class="action-label uppercase text-green-darker">Block</div>
</div>
