<h2>Coup</h2>

<div class="text-xs text-grey mt-3"><%= Timex.format!(@date, "{UNIX}") %></div>

<%= render "_player_form.html", changeset: @changeset %>

<!-- <button phx-click="new_game" class="btn btn-primary" type="button" name="new_game">New game</button> -->
