<div class="player-wrapper has-background-primary has-text-white p-xs p-r-sm p-l-sm">
  <h4 class="is-size-5 has-text-weight-semibold">
    <%= @player.name %>
  </h4>
  <p><span class="has-text-weight-bold">Hand:</span></p>
  <ul>

  <%= for card <- @player.hand do %>
  <li>
    <%= card.type %>
  </li>
  <% end %>
  </ul>
</div>
