.game-container
  height: 100vh

[phx-click]
  cursor: pointer

.bluebg
  background-image: linear-gradient(rgba(188, 222, 250, 0), rgba(188, 222, 250, 1))

.deck
  min-width: 5rem
  .deck-bg
    fill: config('colors.teal-lighter')
  .card-text
    fill: config('colors.white')
    font-size: 1.2rem

// SELECT TARGET
.current-player-select_target
  .deck
    opacity: 0.3
  .player-inner-wrapper
    opacity: 0.3
    &.selectable
      opacity: 1

.player
  transition: flex 1s ease-out
  flex: 1
  overflow: hidden
  min-width: 5rem
  max-width: 5rem
  &.collapsed
    flex: 0
    padding: 0
    margin: 0

    .player-inner-wrapper
      width: 0%
      height: 0

  .player-inner-wrapper
    transition: width 0.5s ease-out
    width: 100%

  .coins-count
    font-weight: bolder

  .card-text
    fill: white
    font-size: 0.4rem

.card
  fill: config('colors.orange')
  stroke: config('colors.orange-dark')
  &.dead
    fill: config('colors.blue')
    stroke: config('colors.blue-dark')
  &.revealed
    fill: config('colors.teal')
    stroke: config('colors.blue-dark')


.card-placeholder
  fill: rgba(0, 0, 0, 0.1)
  stroke: rgba(0, 0, 0, 0.3)
  stroke-dasharray: 4

.my-hand
  .my-card
    margin: 1rem
    height: auto
    min-width: 30vw

    .card
      fill: config('colors.blue')
      stroke: config('colors.blue-dark')

    .card-text
      fill: config('colors.white')

    .dead
      .card
        opacity: 0.3
        fill: config('colors.grey')
        // stroke: config('colors.blue-dark')

    .card-placeholder
      stroke-dasharray: 6

.change-card
  &.cards-count-2
    .my-card
      margin: 1rem
      height: auto
      min-width: 30vw

  &.cards-count-3
    .my-card
      margin: 0.8rem
      height: auto
      min-width: 20vw

  &.cards-count-4
    .my-card
      margin: 0.5rem
      height: auto
      min-width: 18vw

  .my-card
    transition: all 0.5s ease-out
    &.selected
      transform: translateY(-0.5rem)

  .card
    fill: config('colors.blue')
    stroke: config('colors.blue-dark')

  .selected
    .card
      stroke: config('colors.yellow')
      stroke-width: 3

  .card-text
    fill: config('colors.white')

.lose-influence-select-card
  .my-card
    margin: 1rem
    height: auto
    min-width: 30vw
    transition: all 0.5s ease-out
    &.selected
      transform: translateY(-0.5rem)

  .card
    fill: config('colors.blue')
    stroke: config('colors.blue-dark')

  .selected
    .card
      stroke: config('colors.yellow')
      stroke-width: 3

  .card-text
    fill: config('colors.white')


.toast-wrapper
  min-height: 2.5rem
  .toast-content
    opacity: 0
    position: absolute
    text-align: center

.turn-wrapper
  .divider
    height: 1rem
    width: 1rem
    .rightcaret
      fill: config('colors.red')

  .turn-item
    // background-color: config('colors.red-lighter')
    height: 3rem
    width: 2.4rem
    margin: 0.5rem
    &.pending
      // height: 2.4rem

  .turn-label
    font-size: 0.3rem

.actions-wrapper
  flex-wrap: wrap
  min-height: 5rem

  .action-item
    background-color: config('colors.green-lighter')
    height: 3.5rem
    width: 2.8rem
    margin: 0.2rem
    transition: all 1s ease-out
    &.disabled
      opacity: 0.3
      transform: translate(0, 0.2rem)

  .action-icon
    width: 100%
    height: auto

  .action-label
    font-size: 0.2rem

  .reactions, .actions
    position: absolute

  .hide
    display: none

.overlay
  background: rgba(0,0,0, 0.6)
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0

// Icons

.question-icon
  circle, path
    fill: config('colors.grey-darker')

.dotted-circle
  // fill: config('colors.grey-dark')
  fill: config('colors.red')


// .toast-container
//   position: fixed
//   bottom: 0.5rem
//   right: 0.5rem
//   // left: 0.5rem
//   text-align: right
//   z-index: 1000
//   .toast
//     display: inline-block
//     clear: both
//     margin: 0.25rem 0
//     opacity: 0.9
//     transition: opacity .2s, font-size .5s .15s, margin .5s .15s, padding .5s .15s
//     &.exiting
//       font-size: 0
//       opacity: 0
//       padding: 0
